.max-width{
    max-width: 800px;
}
.max-width-100{
    max-width: 100px;
}
.max-width-200{
    max-width: 200px;
}

.border-form{
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
}

.show-hide{
    width: 2rem;
}